<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://{{serverRoot}}/assets/css/common.css"></head>
  <style type="text/css">
    body{
      background: #fff!important;
    }
  </style>
<body>
  <div class="row-fluid">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="span12 page-404">

      <div class="number">404</div>
      <div class="details">

        <h3>找不到该网页</h3>

        <p>
          很抱歉找不到该资源
          <br>

          <a href="{{url}}">回到首页</a>

        </p>

        <form action="#">

          <div class="input-append"></div>

        </form>

      </div>

    </div>

  </div>
</body>
</html>