<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://{{serverRoot}}/assets/css/common.css"></head>
  <style type="text/css">
    body{
      background: #fff!important;
    }
  </style>
<body>
  <div class="row-fluid">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="span12 page-500">

      <div class="number">500</div>
      <div class="details">

        <h3>服务器需要休息一下，休息一下</h3>

        <p>
          等下再尝试哦:)
          <br>



        </p>

        <form action="#">

          <div class="input-append"></div>

        </form>

      </div>

    </div>

  </div>
</body>
</html>