<div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="static">
            <a>操作</a>
        </li>
        {{#each nav}}
            <li class="{{class}}">
                <a href="#{{href}}">{{title}}</a>
            </li>
        {{/each}}
        {{#if dnav}}
        <li class="static">
            <a>APP</a>
        </li>
        {{/if}}
        {{#each dnav}}
            <li class="{{class}}">
                <a>{{title}}</a>
                <ul class="nav">
                    {{#each this.sub}}
                    <li>
                        <a href="#{{href}}">{{title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>        
        {{/each}}
    </ul>
</div>



