<div class="bs-sidebar hidden-print affix" role="complementary">
    <ul class="nav bs-sidenav">
        {{#each nav}}
            <li class="{{class}}">
                {{#if this.sub}}
                <a>{{title}}</a>
                <ul class="nav">
                    {{#each this.sub}}
                	<li>
                		<a href="#{{href}}">{{title}}</a>
                	</li>
                    {{/each}}
                </ul>
                {{else}}
                <a href="#{{href}}">{{title}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
