{{#this}}
<div class="auth">
    <div class="alert alert-success"></div>
    <div class="alert alert-danger"></div>
    <button type="button" class="btn btn-primary show_auth_form">创建应用</button>
    <div class="auth_form">
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="appName">应用名称</label>
                <input type="text" class="form-control" id="appName" placeholder="应用名称">
            </div>
            <div class="btn btn-default create_auth">创建</div>
        </div>
    </div>
    <div class="auth_list">
        <table class="table table-bordered table-hover">
            <tr>
                <th>应用</th>
                <th>appID</th>
                <th>token</th>
                <th>创建时间</th>
            </tr>
            {{#each aAuthList}}
            <tr>
                <td>{{appName}}</td>
                <td>{{appID}}</td>
                <th>{{token}}</th>
                <td>{{ts}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{/this}}
