{{#this}}
<div class="logmodel">
    <div class="alert alert-success"></div>
    <div class="alert alert-danger"></div>
    <button type="button" class="btn btn-primary show_logmodel_form">创建日志模型</button>
    <div class="logmodel_form">
        <div class="form-horizontal">
            <div class="form-group" id="app">
                <label class="col-sm-2 control-label">应用</label>
                <div class="col-sm-4">
                    <select class="form-control">
                        {{#each aAuth}}
                        <option value="{{appID}}" token="{{token}}">{{appName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sLogModelName" class="col-sm-2 control-label">日志模型</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="sLogModelName">
                </div>
            </div>
            <div id="attributes">
                <div class="form-group">
                    <label class="col-sm-2 control-label">参数</label>
                    <div class="col-sm-2 add_attr">
                        <input type="text" class="form-control key" placeholder="名称">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control value">
                            {{#each aAttrValue}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <div class="btn btn-warning del_attr">删除</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn btn-default create_logmodel">创建</div>
                </div>
            </div>
        </div>
    </div>
    <div class="logmodel_list">
        <table class="table table-bordered table-hover">
            <tr>
                <th>应用</th>
                <th>日志模型</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            {{#each aLogModelsList}}
            <tr>
                <td appID="{{appID}}" token="{{token}}">{{appName}}</td>
                <td>{{type}}</td>
                <td>{{ts}}</th>
                <td>
                    <div class="btn btn-default edit_logmodel">编辑</div>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{/this}}
