<div class="logger" ng-init="init()">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th class="ts">时间</th>
                <th class="level">等级</th>
                <th ng-repeat="attr in log.attrs" 
                    ng-bind="attr.labelName"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="logger in loggers" ng-class="logger._level|logLevelClass">
                <th ng-bind="logger._ts|dateTimeFormat"></th>
                <th ng-bind="logger._level|logLevelFilter"></th>
                <th ng-repeat="attr in log.attrs"
                    ng-bind="logger[attr.fieldName]"
                    field-type="{{attr.fieldType}}"
                    date-field-fomat>
                </th>
            </tr>
        </tbody>
    </table>
    <div paging
        class="paging"
        page="paging.page"
        page-size="paging.perPage" 
        total="paging.total"
        hide-if-empty="true"
        show-prev-next="true"
        paging-action="doPage('', page)">>
    </div>
    <div growl></div>
</div>