{{> header}}
<div class="main container">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/reg">Register</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <form class="form-horizontal" role="form" method="post" adtion="/login">
            <div class="form-group">
                <label for="nickname" class="col-md-2 control-label">User name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="nickname" name="nickname">
                </div>
            </div>
            <div class="form-group">
                <label for="pw" class="col-md-2 control-label">Password</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="pw" name="pw">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-offset-6">Sign in</button>
        </form>
    </div>
</div>
{{> footer}}
